html,
h1 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 200;
	text-align: center;
	color: #333;
}

h1 {
	margin: 0 0 40px 0;
}

body {
	padding: 0;
	margin: 40px 20px;
	background: url(../images/background.png) #f0f0f0;
}

.hero {
	margin: 0 0 35px 0;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 2px;
}

a:link,
a:visited {
	color: #238CEC;
	text-decoration: none;
}

a:hover,
a:active {
	text-decoration: underline;
}

.gallery-list {
	margin: 0 auto;
}

.gallery-item {
	display: block;
	width: 340px;
	margin: 10px;
	background-color: #fefefe;
	border-radius: 2px;
}

.gallery-item::before {
	content: '';
	top: 0;
	border-radius: 2px;
	background-color: black;
}

.gallery-item::before,
.gallery-item-text {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: opacity ease 0.15s;
}

.gallery-item:hover::before {
	opacity: 0.5;
}

.gallery-item:hover .gallery-item-text {
	opacity: 1;
}

.gallery-item-image {
	display: block;
}

.gallery-item-text {
	margin: 20px;
	text-align: center;
	color: #fefefe;
	text-shadow: 0 0 1px black;
}

.picture-content {
	margin-top: 40px;
}
